.main_content {
    padding-top: 200px;
  }
  h2 {
    text-align: center;
  }
  .main_text {
    padding-top: 30px;
    text-align: center;
  }
  
  #form {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  #email {
    width: 300px;
    height: 43px;
  }
  
  .video {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .subheader {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    padding-left: 15px;
  }
  
  .subheader_text {
    display: inline-block;
    margin-top: 30px;
    font-weight: 400;
  }
  
  #form input[type="submit"]:hover {
    background-color: white;
    color: #1e5bbd;
    transition: background-color 1s;
  }
  
  @media (max-width: 650px) {
    .main_content {
      margin-top: 120px;
    }
  }
  